<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Sobre o Flask



{% endblock %}

{% block content %}
<h1>Sobre o Flask</h1>

<p>Conteúdo de página sobre o Flask

    quero continuar trabalhando na area de cyber seguranca e construir uma familia, quero tambem receber bastante para dar a minha familia tudo de bom e do melhor e melhorar a cndicao financeira da minha familia 
</p>
{% endblock %}