<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}


Index



{% endblock %}

{% block content %}
<h3>Aula 4 de Flask

</h3>



<h1> Olá sou Nicolas Faria Gesmundo !
</h1>
    <h2>
    Sou estudante de TI, estudo no Colégio Cotemig e minha atividade livre favorita é jogar videogame, tenho uma família na Itália que visito sempre de 2 em 2 anos, também gosto muito de assistir filmes.

    </h2>

{% endblock %}